@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2qee6f');
  src:  url('fonts/icomoon.eot?2qee6f#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2qee6f') format('truetype'),
    url('fonts/icomoon.woff?2qee6f') format('woff'),
    url('fonts/icomoon.svg?2qee6f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-heart:before {
  content: "\e9da";
}
