/*Nos aseguramos que el relleno y el borde se incluyan en el ancho y la altura totales de los elementos en todos los div de la pagina */
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
    box-sizing: border-box;
}

html,body{
    margin: 0;
    height: 100%;
}

.video div {
    height: auto;
  }

header{
    color:white
}

option{
    color:white;
    font-family: -apple-
    system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,
    "Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,
    "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; 
    font-weight: bold;
}

select{
    color:white;
    font-family: -apple-
    system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,
    "Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,
    "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; 
    font-weight: bold;
    border: none
     
}

span{
    width: 100%;
    text-align: center
}

textarea{
    width: 100%;
    font-size: 1.3em;
    border-radius: 5px;
    text-align:center;
    font-family:'Source Sans Pro', sans-serif;
    /*line-height: 60%;*/
    color: #2e2c2c;
    padding-top: 3%
}

.width{
    width: 10%

}
#entered-text::placeholder{
    text-align: center
}


.background-principal{
    background-color: #fff
}

.backgroundLogin {
    background-image: url(img/fondomascota.jpg);
    background-color: rgba(0, 0, 0, 0.6);
    /*background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;*/
    zoom: 0.78;
    
  }
  
.container{
    font-family: -apple-
    system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,
    "Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,
    "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: black;
    font-weight: bold;
}

h1{
    font-family:'Fredoka One', cursive;
    text-align: center;
    font-size:2em;
    margin: 0;
    padding:0;
}

h4{
    text-align: center;
}

.logo{
    width: 25%;
    height: 25%;
    margin-left: 37%;
}

.border {
    border-radius: 5px;
}

input {
  width: 100%;
  height: auto;
  text-align: left;
  font-size: 12pt;
  background: #ffffff;
  border: 1px solid rgb(152, 153, 155);
  color:  rgb(152, 153, 155);
  height: 37px;
  padding: 20px
}
/* para colocar el placeholder a la izquierda */
::-webkit-input-placeholder {
    text-align: left;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: left;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: left;  
 }
 
 :-ms-input-placeholder {  
    text-align: left; 
 }
/*******************/
button{
    width: 100%;
    text-decoration:none;
    /*align-content: center;*/ 
    /*text-align:center;*/
    color: white;
    font-family: -apple-
    system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,
    "Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,
    "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: bold;
    font-size: 120%;
    padding-right: 50%;
    height: auto;
    margin-top: 5px;
}

.left{
    float:left;
}

.icon{
    background: #ffffff;
    border-radius: 2px;
}

.type{
    border: none;
    margin: auto;
    /*text-align: center;*/
	padding: 15px;
    width: 100%;
    box-shadow: 0 3px 3px rgba(0,0,0,0.16);
}

.margin{
    margin-top: 1px;
}

.logIn{
    background:  rgb(20, 173, 6); 
    width: 100%;
}

.margin-t{
    margin-top: 0px
}

.facebook{
    background: rgb(42, 65, 170);
}

.google{
    background: rgb(0, 102, 255);
}

.create-count{
    background: white;
    color: rgb(20, 173, 6);
    border: 3px solid rgb(20, 173, 6);
    padding: 15px;
    width: 100%;
    box-shadow: 0 3px 3px rgba(0,0,0,0.16);
    font-weight: bolder
}

/*Todas estas columnas deben estar flotando hacia la izquierda y tener un relleno de 15px */
[class*="col-"] {
    float: left;
    padding: 15px;
}
/*Se coloca un estilo para que borre el flujo de las columnas dentro de la fila */
.row::after {
    content: "";
    clear: both;
    display: table;
    
}
/* css implemtado por kimberly para divs de errores */
.errors{
    height: 15px;
    color: red;
    /* border-color: black; */
    width: 100%;
    text-align: left;
    font-size: 10.5pt;
    background: #ffffff;
    /* border: 1px solid rgb(152, 153, 155); */
    /* margin-bottom: 0px; */
    padding:1px;

}
.regist{
    padding-bottom: 0px;
}

.pass {
    padding-top: 0px;
}
/* Se tiene que cambiar medidas para sea responsive */
.alert{
    margin-right: 5px;
}

.uncomp{
    font-size: 10pt;
}
/* hasta aqui los cambios, tambien se agrego dos divs en templatestring y se agrego clases, y se cambio el a de registrar por button */
/*Para los teléfonos celulares*/
[class*="col-"] {
    width: 100%;
}
[class*="col-s-"] {
    width: 100%;
}
/*Para las tablets*/
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
/*Para el escritorio*/
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/**********/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }