@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
    box-sizing: border-box;
    list-style:none;
    text-decoration: none
    
}

html,body{
    margin: 0;
    height: 100%;
    font-family: -apple-
    system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,
    "Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,
    "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

/* Estilos para templates login y registry*/
.backgroundLogin {
    background-image: url(img/fondomascota.jpg);
    zoom: 0.61;
  }

  .select-post{
    background: white;
    color:  rgb(28, 190, 13);
    border: 2px solid  rgb(28, 190, 13);
    font-size: 0.9em;
    font-weight: 500;
    padding: 8%
}

.background-principal{
    background-color: #fff;
}
  
.container{
    color: black;
    font-weight: bold;
}

h1{
    font-family:'Fredoka One', cursive;
    font-size:2em;
    margin: 0;
    padding:0;
}

.center{
    text-align: center;
}

.width{
    width: 100%
}

.logo{
    width: 25%;
    height: 25%;
    margin-left: 37%;
}

.border {
    border-radius: 5px;
}

input {
  height: auto;
  font-size: 100%;
  background: #ffffff;
  border: 1px solid rgb(152, 153, 155);
  color:  rgb(152, 153, 155);
  height: 20%;
}

::-webkit-input-placeholder {
    text-align: left;
 }
 
 :-moz-placeholder { 
    text-align: left;  
 }
 
 ::-moz-placeholder { 
    text-align: left;  
 }
 
 :-ms-input-placeholder {  
    text-align: left; 
 }

button{
    color: white;
    box-shadow: 0 3px 3px rgba(0,0,0,0.16);
    font-weight: bold;
    font-size: 120%;
    height: 25%;
    font-weight: bolder;
}
.textarea-style-div{
    border-style: none;
    border-color: Transparent;
    overflow: auto;
    outline: none;
}

.left{
    float:left;
}

.icon{
    background: #ffffff;
    border-radius: 2px;
}

.type{
    border: none;
    margin: auto;
    box-shadow: 0 3px 3px rgba(0,0,0,0.16);
}

.padding{
    padding: 3%;
}

.login{
    background:  rgb(28, 190, 13); 
}

.facebook{
    background: rgb(42, 65, 170);
}

.google{
    background: rgb(0, 102, 255);
}

.create-count{
    background: white;
    color: rgb(250, 63, 6);
    border: 3px solid rgb(250, 63, 6);
}

.registry{
    background:  rgb(250, 63, 6); 
}

/* css implemtado por kimberly para divs de errores */
.errors{
    color: red;
    text-align: left;
    font-size: 100%;
    background: #ffffff;
    padding:2%;
}

/* Estilo para template home*/

.title{
    font-family:'Fredoka One', cursive;
    font-size:1em;
    margin: 0;
    padding:0;
    color: white 
}

a{
    color: black
}

.color{
    background-color:rgb(250, 63, 6);
}

.gray{
    background-color:#f2f2f2;
}

.border-post{
    border: none;
    box-shadow: 0 3px 3px rgba(0,0,0,0.16);  
}

textarea{
    width: 100%;
    font-size: 1em;
    border-radius: 5px;
    font-family:'Source Sans Pro', sans-serif;
    color: #2e2c2c;
}
/*Todas estas columnas deben estar flotando hacia la izquierda y tener un relleno de 15px */
[class*="col-"] {
    float: left;
    padding: 15px;
}

.right {float: right;}

/*Se coloca un estilo para que borre el flujo de las columnas dentro de la fila */
.row::after {
    content: "";
    clear: both;
    display: table;
    
}

[class*="col-"] {
    width: 100%;
}

[class*="col-s-"] {
    width: 100%;
}
.ocultar {
    display:none;
}
.headerfijo {
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}
.xscol-1 {width: 8.33%;}
    .xscol-2 {width: 16.66%;}
    .xscol-3 {width: 25%;}
    .xscol-4 {width: 33.33%;}
    .xscol-5 {width: 41.66%;}
    .xscol-6 {width: 50%;}
    .xscol-7 {width: 58.33%;}
    .xscol-8 {width: 66.66%;}
    .xscol-9 {width: 75%;}
    .xscol-10 {width: 83.33%;}
    .xscol-11 {width: 91.66%;}
    .xscol-12 {width: 100%;}
/*Para las tablets*/
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    .ocultar {
        display:none;
    }
}
/*Para el escritorio*/
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .xs-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .ocultar {
        display:block;
    }
}

/**********/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  /*#check{
      display: none;
  }

  .menu{
      display: none;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  /* estilo para las lista de post*/
  .list-post{
      margin-bottom: 50px;
  }
  /* estilo de post*/
  .post-bar{
    float: left;
    width: 100%;
    background-color: #fff;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 20px;
  }
  .post-name-user{
    color: #000000;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 6px;
    margin-top: 2px;
    margin-left: 25px;
  }

  .post-name-date{
    color: #b2b2b2;
    font-size: 14px;
    margin-left: 25px;
  }

  .null-margin-top{
      margin-top: 0px;
  }
  .null-padding-bottom{
      padding-bottom: 0px;
  }
  .border-buttom{
    border-bottom: 1px solid #e5e5e5;
  }
  .post-total-like{
    color: #ffffff;
    font-size: 13px;
    width: 30px;
    height: 30px;
    background-color: rgb(250, 63, 6);;
    line-height: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    float: left;
    text-align: center;
    font-weight: 600;
    margin-left: -25px;
  }
  .font-like{
    font-size: 14px;
    float: left;
    margin-top: 6px;
    margin-right: 5px;
    color: rgb(250, 63, 6);;
  }
  .btn-like{
      background-color: #fff;
      border: 1px solid rgb(250, 63, 6);;
      margin-left: 3px;
      height: 30px;
  }

  .btn-post{
    font-size: 0.9em;
    border: none;
    font-weight: 500;
    padding: 10%
}