/*Nos aseguramos que el relleno y el borde se incluyan en el ancho y la altura totales de los elementos en todos los div de la pagina */
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

* {
    box-sizing: border-box;
}

.container{
    font-family: -apple-
    system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,
    "Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,
    "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: black;
    font-weight: bold;
}

h1{
    font-family:'Fredoka One', cursive;
    text-align: center;
    font-size:2em;
    margin: 0;
    padding:0;
}

.logo{
    width: 15%;
    height: 15%;
    margin-left: 43%;
    margin-right: 50%
}

.border {
    border-radius: 5px;
}

input {
  width: 100%;
  height: 30px;
  text-align: left;
  font-size: 12pt;
  background: #ffffff;
  border: 1px solid rgb(152, 153, 155);
  color:  rgb(152, 153, 155);
  height: 37px;
  padding: 20px
}
/* para colocar el placeholder a la izquierda */
::-webkit-input-placeholder {
    text-align: left;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: left;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: left;  
 }
 
 :-ms-input-placeholder {  
    text-align: left; 
 }
/*******************/
button{
    width: 100%;
    text-decoration:none;
    /*align-content: center;*/ 
    /*text-align:center;*/
    color: white;
    font-family: -apple-
    system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,
    "Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,
    "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: bold;
    font-size: 100%;
    padding-right: 50%
}

img{
    float:left;
}

.icon{
    background: #ffffff;
    border-radius: 2px;
}

.type{
    border: none;
    margin: auto;
    /*text-align: center;*/
	padding: 15px;
    width: 100%;
    box-shadow: 0 3px 3px rgba(0,0,0,0.16);
}

.margin{
    margin-top: 1px;
}

.logIn{
    background:  rgb(20, 173, 6); 
    width: 100%;
}

.margin-t{
    margin-top: 30px
}

.facebook{
    background: rgb(42, 65, 170);
}

.google{
    background: rgb(0, 102, 255);
}

.create-count{
    background:  rgb(218, 68, 9); 
}

/*Todas estas columnas deben estar flotando hacia la izquierda y tener un relleno de 15px */
[class*="col-"] {
    float: left;
    padding: 15px;
}
/*Se coloca un estilo para que borre el flujo de las columnas dentro de la fila */
.row::after {
    content: "";
    clear: both;
    display: table;
    
}
/*Para los teléfonos celulares*/
[class*="col-"] {
    width: 100%;
}
/*Para las tablets*/
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
/*Para el escritorio*/
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}






